@model CommentsVM

@{ 
    string target = "messageTarget" + Model.ParentMessageId;
    string targetToggle = "#" + target;
    string textArea = "textarea" + Model.ParentMessageId; 
}
<div class="container" style="margin-left:15px;position:relative">
    <br />
    @*<a href="#">Comments <span class="badge">10</span></a><br>*@

    <div><a class="linkPointer" data-toggle="collapse" data-target="@targetToggle">Kommentarer <span class="badge">@Model.CommentList.Count()</span></a></div>
    <div id="@target" class="collapse col-lg-5 commentClass">
        <br />
        @foreach (var comment in Model.CommentList)
        {
            <p style="color:#00aa3c">@comment.SenderName, @comment.TimeStamp</p>
            <p>@comment.CommentBody</p>
            <hr />
        }
        <textarea id="@textArea" class="form-control"></textarea>
        <br />
        <button class="btn logoColorBackground" onclick="postComment(@Model.ParentMessageId)">Kommentera</button>
    </div>
</div>