@model CommentsVM

@{ 
    string target = "messageTarget" + Model.ParentMessageId;
    string targetToggle = "#" + target;
    string textArea = "textarea" + Model.ParentMessageId; 
}
<div class="container">
    <div><button type="button" class="btn btn-info" data-toggle="collapse" data-target="@targetToggle">Kommentarer<span class="badge">@Model.CommentList.Count()</span></button></div>
    <div id="@target" class="collapse col-lg-5">
        @foreach (var comment in Model.CommentList)
        {
            <p>@comment.SenderName</p>
            <p>@comment.CommentBody</p>
            <p>@comment.TimeStamp</p>
        }
        <textarea id="@textArea" class="form-control"></textarea>
        <button class="btn logoColorBackground" onclick="postComment(@Model.ParentMessageId)">Kommentera</button>
    </div>
</div>