@model EditAccountVM
<script src="~/scripts/jquery.validate.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="container">
    <h2>Mina sidor</h2>
    <p>Här kan du ändra information för konto tillhörande @Model.EMail.</p>
    <div class="panel-group" id="accordionDetails">
        @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionDetails" href="#collapse1">E-Post:   @Model.EMail</a>
                </h4>
            </div>
            Collapsade edit-formulär för olika personuppgifter
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form asp-controller="Account" asp-action="EditSomething">
                        <div asp-validation-summary="ValidationSummary.All"></div>
                        <label asp-for="EMail"></label>
                        <input asp-for="EMail" class="form-control">
                        <span asp-validation-for="EMail"></span>
                    </form>
                </div>
            </div>
        </div>*@
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionDetails" href="#collapse2">Ändra lösenord</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("_ChangePasswordPartial", Model.ChangePassword)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionDetails" href="#collapse3">Ändra info</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("_EditContactDetailsPartial", Model.ContactDetails)
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionDetails" href="#collapse4">Ladda upp profilbild</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    @Html.Partial("_UploadPicturePartial")
                </div>
            </div>
        </div>

    </div>
</div>


