@model HomeVM
<div id="reloadPage">
    <div class="container">
        <div class="col-lg-9">
            <ul class="nav nav-tabs">
                @foreach (var group in Model.GroupVMList)
                {
                    @if (group.Id == Model.PageId)
                    {
                        <li class="awaActive active">
                            <a href="/home/index/@group.Id">@group.GroupName</a>
                        </li>
                    }
                    else
                    {
                        <li class="customHover">
                            <a class="logoColorBackground" href="/home/index/@group.Id">@group.GroupName</a>
                        </li>
                    }
                }
                <li><a class="logoColorBackground" onclick="showGroupModal()">+</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="nav nav-tabs navbar-right">
                <li>
                    <a class="logoColorBackground" onclick="showMessageModal()">Skapa inlägg <span class="glyphicon glyphicon-pencil"></span></a>
                </li>

            </ul>
        </div>

        <div class="list-group-item-heading">
            <br />
            @foreach (var message in Model.MessageVMList)
            {
                <div class="container">
                    <div style="margin-left:15px; margin-bottom:1%; margin-top:3%">

                        <b style="font-size:x-large">@message.Title</b>

                        @if (User.IsInRole("Admin") || message.IsCurrentUser)
                        {
                            <a onclick="RemoveMessage(@message.Id,@Model.PageId)"><span class="glyphicon glyphicon-trash"></span></a>
                            if (message.IsCurrentUser)
                            {
                                <a href="#"><span class="glyphicon glyphicon-pencil" onclick="editMessageModal(@message.Id)"></span></a>
                            }
                        }
                    </div>

                    @{
                        string messagePicture;
                        if (!String.IsNullOrEmpty(message.ImageLink))
                        {
                            messagePicture = "~/messagepictures/" + message.ImageLink;
                        }
                        else
                        {
                            messagePicture = "~/messagepictures/defaultpicture.jpg";
                        }
                    }
                    <div class="col-lg-3">
                        <img class="img-responsive img-rounded" src="@messagePicture" />
                    </div>

                    <div class="col-lg-7">
                        @Html.Raw(message.MessageBody)
                    </div>

                    @{
                        string profilePicture = "~/profilepictures/" + message.Sender + ".jpg";
                    }
                    <div style="text-align: center" class="col-lg-2 timeStamp">
                        <img class="img-responsive img-rounded" src="@profilePicture" />
                        <h4>@message.UserRole</h4>

                        @if (message.UserRole == "Academic Work")
                {
                            <h3>
                                <span class="label logoColorBackground">
                                    @message.FullName
                                </span>
                            </h3>
                        }
                        else if (message.UserRole == "Academy Personal")
                        {
                            <h3>
                                <span class="label label-warning">
                                    @message.FullName
                                </span>
                            </h3>
                        }
                        else if (message.UserRole == "Academy Lärare")
                        {
                            <h3>
                                <span class="label label-danger">
                                    @message.FullName
                                </span>
                            </h3>
                        }
                        else
                        {
                            <h3>
                                <span class="label label-info">
                                    @message.FullName
                                </span>
                            </h3>
                        }
                        <h5>
                            @message.TimeCreated <span class="glyphicon glyphicon-time"></span>
                        </h5>


                    </div>
                </div>
                        //Comment
                        @if (message.Comments.Count() > 0)
                        {

                            <div class="container">
                                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Kommentarer<span class="badge">@message.Comments.Count()</span></button>
                                <div id="demo" class="collapse">
                                    @foreach (var comment in message.Comments)
                                    {
                                        <p>@comment.SenderName</p>
                                        <p>@comment.CommentBody</p>
                                        <p>@comment.TimeStamp</p>
                                    }
                                </div>
                            </div>
                        }
                        <br />
                        <hr />
                        }
        </div>
    </div>
</div>