@model List<MessageVM>

<div class="container">
    <div style="float:right">
        <button onclick="showMessageModal()" class="btn logoColorBackground">Skriv meddelande</button>
    </div>
    <br />
    <div class="list-group-item-heading">
        @foreach (var message in Model)
        {
            <div class="container">
                <div style="margin-left:15px">
                    <h3>@message.Title</h3>
                </div>

                @{
                    string messagePicture = "~/messagepictures/" + message.ImageLink;
                }
                <div class="col-lg-3">
                    <img class="img-responsive" src="@messagePicture" />
                </div>

                <div class="col-lg-7">
                    @Html.Raw(message.MessageBody)
                </div>

                @{
                    string profilePicture = "~/profilepictures/" + message.Sender + ".jpg";
                }
                <div style="text-align: center" class="col-lg-2 timeStamp">
                    <img class="img-responsive" src="@profilePicture" />
                    <h4>@message.UserRole</h4>

                    @if (message.UserRole == "Academic Work")
                    {
                        <h3 style="margin-top:0px;">
                            <span class="label logoColorBackground">
                                @message.FullName
                            </span>
                        </h3>
                    }
                    else if (message.UserRole == "Academy Personal")
                    {
                        <h3 style="margin-top:0px;">
                            <span class="label label-warning">
                                @message.FullName
                            </span>
                        </h3>
                    }
                    else if (message.UserRole == "Academy Lärare")
                    {
                        <h3>
                            <span class="label label-danger">
                                @message.FullName
                            </span>
                        </h3>
                    }
                    else
                    {
                        <h3>
                            <span class="label label-info">
                                @message.FullName
                            </span>
                        </h3>
                    }
                    <h5>
                        @message.TimeCreated <span class="glyphicon glyphicon-time"></span>
                    </h5>
                </div>
            </div>
            <br />
                    }
    </div>
</div>
